{% extends 'fyrpresents/base.html' %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}{% trans "Edit User Profile" %}{% endblock title %}
{% block description %}{% trans "Form for editing your user profile and helping us build new content for our users." %}{% endblock %}
{% block extra_head %}{{ profile_form.media }}{% endblock extra_head %}

{% block bannerdetails %}
	<h2>Edit User Profile</h2>
	<p>Update your profile already.</p>
{% endblock %}

{% block breadcrumbs %}
<ul class="breadcrumbs">
	<li><a href="{% url 'home' %}">Home</a></li>
	<li><a href="{% url 'userprofile' %}">User Profile</a></li>
    <li><a href="#">Edit Profile</a></li>
</ul>
{% endblock %}

% block content %}

<!-- Start Content -->
<div id="content">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <!-- Classic Heading -->
        <h4 class="classic-title"><span>Give us some details already</span></h4>
        
        <!-- Start Edit Profile Form -->
        <form action="{% url 'edit_profile' %}" class="GeneralForm shake" id="editProfileForm" method="POST">
          {% csrf_token %}
          {% crispy user_form %}
          {% crispy profile_form %}
          <input type="submit" value="save" class="btn-system btn-large"/>
        </form>
        {{ status }}
        <!-- End Edit Profile Form -->
      </div>
    </div>
  </div>
</div>

<!-- Style Switcher -->
<div class="switcher-box">
  <a class="open-switcher show-switcher"><i class="fa fa-cog fa-2x"></i></a>
  <h4>Switch it up</h4>
  <span>Pick Your Theme Color</span>
  <ul class="colors-list">
    <li>
      <a href="javascript:chooseStyle('blue', 60)" title="Blue" class="blue"></a>
    </li>
    <li>
      <a href="javascript:chooseStyle('sky-blue', 60)" title="Sky Blue" class="sky-blue"></a>
    </li>
    <li>
      <a href="javascript:chooseStyle('cyan', 60)" title="Cyan" class="cyan"></a>
    </li>
    <li>
      <a href="javascript:chooseStyle('jade', 60)" title="Jade" class="jade"></a>
    </li>
    <li>
      <a href="javascript:chooseStyle('green', 60)" title="Green" class="green"></a>
    </li>
    <li>
      <a href="javascript:chooseStyle('purple', 60)" title="Purple" class="purple"></a>
    </li>
    <li>
      <a href="javascript:chooseStyle('pink', 60)" title="Pink" class="pink"></a>
    </li>
    <li>
      <a href="javascript:chooseStyle('red', 60)" title="Red" class="red"></a>
    </li>
    <li>
      <a href="javascript:chooseStyle('orange', 60)" title="Orange" class="orange"></a>
    </li>
    <li>
      <a href="javascript:chooseStyle('yellow', 60)" title="Yellow" class="yellow"></a>
    </li>
    <li>
      <a href="javascript:chooseStyle('peach', 60)" title="Peach" class="peach"></a>
    </li>
    <li>
      <a href="javascript:chooseStyle('beige', 60)" title="Biege" class="beige"></a>
    </li>
  </ul>
  <!--<span>Top Bar Color</span>
  <select id="topbar-style" class="topbar-style">
    <option value="1">Light (Default)</option>
    <option value="2">Dark</option>
    <option value="3">Color</option>
  </select>
  <span>Layout Style</span>
  <select id="layout-style" class="layout-style">
    <option value="1">Wide</option>
    <option value="2">Boxed</option>
  </select>
  <span>Patterns for Boxed Version</span>
  <ul class="bg-list">
    <li>
      <a href="#" class="bg1"></a>
    </li>
    <li>
      <a href="#" class="bg2"></a>
    </li>
    <li>
      <a href="#" class="bg3"></a>
    </li>
    <li>
      <a href="#" class="bg4"></a>
    </li>
    <li>
      <a href="#" class="bg5"></a>
    </li>
    <li>
      <a href="#" class="bg6"></a>
    </li>
    <li>
      <a href="#" class="bg7"></a>
    </li>
    <li>
      <a href="#" class="bg8"></a>
    </li>
    <li>
      <a href="#" class="bg9"></a>
    </li>
    <li>
      <a href="#" class="bg10"></a>
    </li>
    <li>
      <a href="#" class="bg11"></a>
    </li>
    <li>
      <a href="#" class="bg12"></a>
    </li>
    <li>
      <a href="#" class="bg13"></a>
    </li>
    <li>
      <a href="#" class="bg14"></a>
    </li>
  </ul>-->
</div>
{% endblock %}