{% extends "fyrpresents/base.html" %}
{% load i18n %}
{% load static %}
{% block title %}{% trans "Your Profile" %}{% endblock title %}
{% block description %}{% trans "Page for storing user personal content relating to their events and content." %}{% endblock %}

{% block bannerdetails %}
	<h2>User Profile</h2>
	<p>Your Own Personal Space</p>
{% endblock %}

{% block breadcrumbs %}
<ul class="breadcrumbs">
	<li><a href="{% url 'home' %}">Home</a></li>
	<li><a href="#">User Profile</a></li>
</ul>
{% endblock %}

{% block content %}

<!-- Start Content -->
<div id="content">
  <div class="container">
    <div class="project-page row">
      <!-- Start Single Project Slider -->
      <div class="project-media col-md-8">
      {% if perms.users.fyr_member %}
        <h4><span>Ratchet of the Month! </span></h4>
        <p> Ratchet of the Month is a high honor given to the member who displayed the highest level of ratchetivity. This position is handed out to the member who acted in a manner that was the most embarrassing and/or disgusting of all members. Congratulations, you played yourself and we are not going to let you forget it.</p>
        <div class="hr5" style="margin-top:15px; margin-bottom:15px;"></div>
        <div class="row">
          <div class="col-md-6">
            <!-- <img src="/media/photologue/photos/july-ratchet.JPG"> -->
          </div>
          <div class="col-md-6" >
            <h4><span>Maria Royo</span></h4>
            <ul style="list-style-type:disc">
              <li>Working on it, this girl has a laundry list of things she did to earn this title.</li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
            </ul>
          </div>
        </div>
      {% else %}
        <p>Must be FYR Member to view this content</p>
      {% endif %}

      </div>
      <!-- End Single Project Slider -->

      <!-- Start Profile Content -->
      <div class="project-content col-md-4">
        <br>
        <h4><span>About Yourself</span></h4>
        <ul>
          <li><strong>Name:</strong> {{ request.user.first_name}} {{ request.user.last_name}}</li>
          <li><strong>Email:</strong> {{ request.user.email }}</li>
          <li><strong>Home Address:</strong> {{ request.user.profile.home_address}}</li>
          <a href="{% url 'edit_profile' %}" class="btn btn-system">Edit Profile!</a>
          {{ status }}
        </ul>
        <h4><span>Best Travel Buddies</span></h4>
        <div class="row" style="margin-bottom:20px">
          {% for friend in request.user.profile.top_friends|slice:"1:" %}
             <img title="{{ friend.first_name }} {{ friend.last_name }}" src="{{ friend.profile.profile_image_url_small }}" alt="User Profile Picture"/>
          {% endfor %}
        </div>
      </div>
      <!-- End Profile Content -->
    </div>

    <div class="hr5" style="margin-top:45px; margin-bottom:35px;"></div>

    <!-- Start Recent Projects Carousel -->
    <div class="recent-projects">
      <h4 class="title"><span>You signed up for this</span></h4>
      <div class="projects-carousel touch-carousel">
        {% for event in object_list %}
        {% if not event.profile.in_the_past %}
            <div class="portfolio-item item">
            <div class="portfolio-border">
              <div class="portfolio-thumb" style="height:200px">
                {% with 'events/images/'|add:event.profile.slug|add:'.jpg' as image_static %}
                <!--<a href="{% url 'user_event_details' event.profile.slug %}"> -->
                <a href="{% url 'event_details' event.profile.slug %}">
                <!-- <a class="lightbox" data-lightbox-type="ajax" href="https://vimeo.com/78468485"> -->
                  <div class="thumb-overlay"></div>
                  <img src="{% static image_static %}" alt="" />
                </a>
                {% endwith %}
              </div>
              <div class="portfolio-details">
                <a href="#">
                  <h4>{{event.title}}</h4>
                  <span>{{event.start|date}}</span>
                </a>
              </div>
            </div>
         </div>
         {% endif %}
        {% endfor %}
      </div>
    </div>
    <!-- End Recent Projects Carousel -->

    <div class="hr5" style="margin-top:45px; margin-bottom:35px;"></div>
    
    <!-- Start Recent Projects Carousel -->
    <div class="recent-projects">
      <h4 class="title"><span>Stuff you did</span></h4>
      <div class="projects-carousel touch-carousel">
      	{% for event in object_list %}
        {% if event.profile.in_the_past %}
        		<div class="portfolio-item item">
            <div class="portfolio-border">
              <div class="portfolio-thumb crop-event">
              	{% with 'events/images/'|add:event.profile.slug|add:'.jpg' as image_static %}
                <a href="{% url 'past_event_details' event.profile.slug %}">
                <!-- <a class="lightbox" data-lightbox-type="ajax" href="https://vimeo.com/78468485"> -->
                  <div class="thumb-overlay"></div>
                  <img src="{% static image_static %}" alt="" />
                </a>
                {% endwith %}
              </div>
              <div class="portfolio-details">
                <a href="#">
                  <h4>{{event.title}}</h4>
                  <span>{{event.start|date}}</span>
                </a>
              </div>
            </div>
         </div>
         {% endif %}
        {% endfor %}
      </div>
    </div>
    <!-- End Recent Projects Carousel -->
  </div>
</div>
<!-- End Content -->
{% endblock %}

