{% extends "fyrpresents/base.html" %}

{% load static %}
{% load mathfilters %}

{% block title %}{% trans "Your Profile" %}{% endblock title %}
{% block description %}{% trans "Page for storing user personal content relating to their events and content." %}{% endblock %}

{% block bannerdetails %}
	<h2>{{ event.title }} User Content</h2>
    <p>Your Own Personal Space for this event.</p>
{% endblock %}

{% block breadcrumbs %}
<ul class="breadcrumbs">
	<li><a href="{% url 'home' %}">Home</a></li>
    <li><a href="{% url 'userprofile' %}">User Profile</a></li>
    <li><a href="#">{{ event.title }} User Content</a></li>
</ul>
{% endblock %}

{% block content %}


<!-- Start Content -->
<div id="content">
  <div class="container">
    <div class="project-page row">
      

      <!-- Start Profile Content -->
      <div class="project-content col-md-4">
        <h4><span id="fullname"></span></h4>
        <p>Will try to fill this out with your account information related to this event. Will do this later.</p>
        <h4><span>Event Info</span></h4>
        <ul>
          <li><strong>Name: </strong>{{event.title}}</li>
          <li><strong>Date: </strong>{{event.start_date|date}}</li>
          <li><strong>Total Cost: </strong>${{event.total_price}}</li>
        </ul>
      </div>
      <!-- End Profile Content -->

    </div>

  </div>
</div>
<!-- End Content -->

{% endblock %}

