{% extends 'fyrpresents/base.html' %}
{% load i18n %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block title %}{% trans "Submit an Event Idea" %}{% endblock title %}
{% block description %}{% trans "We are always looking for new and unique ideas for introducing adventure to our lives." %}{% endblock %}

{% block bannerdetails %}
	<h2>Submit an Event Idea</h2>
    <p>We will figure it out</p>
{% endblock %}

{% block breadcrumbs %}
<ul class="breadcrumbs">
    <li><a href="{% url 'home' %}">Home</a></li>
    <li><a href="{% url 'events' %}">Events</a></li>
    <li><a href="#">Submit Event Idea</a></li>
</ul>
{% endblock %}

{% block content %}
<!-- Start Content -->
<div id="content">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <!-- Classic Heading -->
        <h4 class="classic-title"><span>Submit Event Idea</span></h4>
        
        <!-- Start Edit Profile Form -->
        {% crispy form %}
        {{ status }}
        <!-- End Edit Profile Form -->
      </div>
    </div>
  </div>
</div>
{% endblock %}