{% load premailer %}
{% premailer "http://fyrpresents.com" %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
{% load static %}
<head>
  <link href="{% static 'css/newsletter.css' %}" rel="stylesheet"
    type="text/css">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width">
  <title>FYR Official Email Newsletter: {{ message.title }}</title>
</head>
<body>
  <span class="preheader"></span>
  <table class="body">
    <tr>
      <td class="center" align="center" valign="top">
        <center data-parsed="">
          <table align="center" class="wrapper header float-center">
            <tr>
              <td class="wrapper-inner">
                <table align="center" class="container">
                  <tbody>
                    <tr>
                      <td>
                        <table class="row collapse">
                          <tbody>
                            <tr>
                              <th class="small-4 columns first">
                                <table>
                                  <tr>
                                    <th>
                                      <p class="text-left">FYR Presents</p>
                                    </th>
                                  </tr>
                                </table>
                              </th>
                              <th class="small-4 columns middle">
                                <table>
                                  <tr>
                                    <th>
                                      <p class="text-center">June 2017</p>
                                    </th>
                                  </tr>
                                </table>
                              </th>
                              <th class="small-4 columns last">
                                <table>
                                  <tr>
                                    <th>
                                      <p class="text-right">{{ newsletter.title }}</p>
                                    </th>
                                  </tr>
                                </table>
                              </th>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </table>

          <table align="center" class="container float-center">
            <tbody>
              <tr>
                <td>
                  <table class="spacer">
                    <tbody>
                      <tr>
                        <td height="16px"
                          style="font-size: 16px; line-height: 16px;">&#xA0;</td>
                      </tr>
                    </tbody>
                  </table>
                  <table class="row">
                    <tbody>
                      <tr>
                        <th class="small-12 large-12 columns first last"><table>
                            <tr>
                              <th>
                                <h1>{{ message.articles.all.0.title|safe }}</h1>
                                <p class="lead">{{ message.articles.all.0.text|safe }}</p>
                              </th>
                              <th class="expander"></th>
                            </tr>
                          </table>
                        </th>
                      </tr>
                    </tbody>
                  </table>
                  <table class="row">
                    <tbody>
                      <tr>
                        <th class="small-12 large-7 columns first">
                          <table>
                            <tr>
                              <th>
                                <h3>{{ message.articles.all.1.title|safe }}</h3> 
                                {{ message.articles.all.1.text|safe }}
                                <table class="button expand">
                                  <tr>
                                    <td>
                                      <table>
                                        <tr>
                                          <td><center data-parsed="">
                                              <a href="https://fyrpresents.com/events/raver-paradise-2015" align="center" class="float-center">Go
                                                to Event Page</a>
                                            </center></td>
                                        </tr>
                                      </table>
                                    </td>
                                    <td class="expander"></td>
                                  </tr>
                                </table>
                              </th>
                            </tr>
                          </table>
                        </th>
                        <th class="sidebar small-12 large-5 columns last"><table>
                            <tr>
                              <th>
                                <table class="callout">
                                  <tr>
                                    <th class="callout-inner secondary">
                                      <h5>{{ message.articles.all.3.title|safe }}</h5>
                                      <ul>{{ message.articles.all.3.text|safe }}
                                      </ul>
                                    </th>
                                    <th class="expander"></th>
                                  </tr>
                                  <tr>
                                    <th class="callout-inner secondary">
                                      <h5>{{ message.articles.all.4.title|safe }}</h5>
                                      <ul>{{ message.articles.all.4.text|safe }}
                                      </ul>
                                    </th>
                                    <th class="expander"></th>
                                  </tr>
                                  <tr>
                                    <th class="callout-inner secondary">
                                      <h5>{{ message.articles.all.5.title|safe }}</h5>
                                      <ul>{{ message.articles.all.5.text|safe }}
                                      </ul>
                                    </th>
                                    <th class="expander"></th>
                                  </tr>
                                </table>
                              </th>
                            </tr>
                          </table></th>
                      </tr>
                    </tbody>
                  </table>

                  <table class="spacer">
                    <tbody>
                      <tr>
                        <td height="16px"
                          style="font-size: 16px; line-height: 16px;">&#xA0;</td>
                      </tr>
                    </tbody>
                  </table>

                  <table class="row">
                    <tbody>
                      <tr>
                        <th class="small-12 large-12 columns first last">
                          <h2>{{ message.articles.all.2.title|safe }}</h2> 
                          {{ message.articles.all.2.text|safe }}
                          <table class="button expanded">
                            <tr>
                              <td>
                                <table>
                                  <tr>
                                    <td>
                                      <a href="https://fyrpresents.com/about"
                                        align="center" class="float-center">More
                                        About Us</a>
                                    </td>
                                    <td>
                                      <a href="https://fyrpresents.com/events"
                                        align="center" class="float-center">Our Many Events</a>
                                    </td>
                                    <td>
                                      <a href="https://fyrpresents.com/calendar/fullcalendar/fyr-official-calendar/"
                                        align="center" class="float-center">Official Calendar</a>
                                    </td>
                                  </tr>
                                </table>
                              </td>
                            </tr>
                          </table>
                          <table class="callout">
                            <tr>
                              <th class="callout-inner primary">
                                <h5 class="text-center">If you have any interesting news, travel plans, suggestions, or would like to be featured in next month's newsletter, please <a href="https://fyrpresents.com/contact">contact us</a>.</h5>
                                <table class="row"> 
                                  <tr>
                                    <td class="large-3" style="vertical-align:bottom"> 
                                      <table>
                                        <tr><td style="color:#fff"><small>By Jawaher Al-Zibdeh</small></td></tr>
                                        <tr><td style="color:#fff"><small>FYR Presents</small></td></tr>
                                      </table>                
                                    </td>
                                    <td class="large-8 center"><a href="https://fyrpresents.com/contact"><img src="https://fyrpresents.com/media_files/photologue/photos/newsletter-1-2.jpg" alt="newsletter image 2"></a></td>
                                  </tr>
                                </table>
                              </th>
                            </tr>
                          </table>
                        </th>
                      </tr>
                    </tbody>
                  </table>
                  <table class="wrapper secondary" align="center">
                    <tr>
                      <td class="wrapper-inner">

                        <table class="spacer">
                          <tbody>
                            <tr>
                              <td height="16px"
                                style="font-size: 16px; line-height: 16px;">&#xA0;</td>
                            </tr>
                          </tbody>
                        </table>
                        
                        <table class="row">
                          <tbody>
                            <tr>
                              <th class="small-12 large-6 columns first">
                                <table>
                                  <tr>
                                    <th>
                                      <h5>Social Media:</h5>
                                      <table class="button instagram expand">
                                        <tr>
                                          <td>
                                            <table>
                                              <tr>
                                                <td><center data-parsed="">
                                                    <a href="https://instagram.com/fyrcrew"
                                                      align="center" class="float-center">Instagram</a>
                                                  </center>
                                                </td>
                                              </tr>
                                            </table>
                                          </td>
                                          <td class="expander"></td>
                                        </tr>
                                      </table>
                                    </th>
                                  </tr>
                                </table>
                              </th>
                              <th class="small-12 large-6 columns last"><table>
                                  <tr>
                                    <th>
                                      <h5>Contact Info:</h5>
                                      <p>Phone: 817-946-1283</p>
                                      <p>
                                        Email: <a href="mailto:info@fyrpresents.com">info@fyrpresents.com</a>
                                      </p>
                                    </th>
                                  </tr>
                                </table></th>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </table>

                  <center data-parsed="">
                    <table align="center" class="menu float-center">
                      <tr>
                        <td><table>
                            <tr>
                              <th class="menu-item float-center"><a href="#">Terms</a></th>
                              <th class="menu-item float-center"><a
                                href="https://fyrpreseents.com/privacypolicy.html">Privacy</a></th>
                              <th class="menu-item float-center"><a
                                href="https://fyrpresents.com/newsletter/{{newsletter.slug}}/unsubscribe">Unsubscribe</a></th>
                            </tr>
                          </table></td>
                      </tr>
                    </table>
                  </center>
                </td>
              </tr>
            </tbody>
          </table>
        </center>
      </td>
    </tr>
  </table>

  <!-- prevent Gmail on iOS font size manipulation -->
  <div
    style="display: none; white-space: nowrap; font: 15px courier; line-height: 0;">
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
  </div>
</body>
</html>
{% endpremailer %}  

