{% extends "fyrpresents/base.html" %}   
{% load i18n %}
{% load static %}
{% block title %}{{ shop_name }} - {{ shop_tagline }}{% endblock %}

{% block extra_head %}
    {# Block where global CSS will go. #}
    {% block styles %}{% endblock %}

    {# Additional CSS - specific to certain pages #}
    {% block extrastyles %}{% endblock %}

    {% block extrahead %}{% endblock %}

    {% block tracking %}
        {# Default to using Google analytics #}
        {% include "partials/google_analytics.html" %}
    {% endblock %}
{% endblock extra_head %}

{% block bannerdetails %}
	<h2>The Rave Trade</h2>
    <p>Share your art, see some art, become the art!</p>
{% endblock %}

{% block breadcrumbs %}
<ul class="breadcrumbs">
	<li><a href="{% url 'home' %}">Home</a></li>
    <li><a href="/market">Rave Trade</a></li>
	{% block morebreadcrumbs %}{% endblock %}
</ul>
{% endblock %}

{% block content %}
    <div id="content">
        <div class="container">
          {# Main content goes in this 'layout' block #}
          {% block layout %}{% endblock %}
        </div>
    </div>    

    {# Block for body onload functions #}
    <script type="text/javascript">
        $(function() {
            {% block onbodyload %}{% endblock %}
        });
    </script>

    {# Page meta-data - this is populated by the 'metadata' template context processor #}
    <!-- {% trans "Version:" %} {{ version }} -->
{% endblock content %}

{% block javascript %}

  {# Scripts loaded from a CDN. #}
  {% block cdn_scripts %}{% endblock %}

  {# Local scripts #}
  {% block scripts %}{% endblock scripts %}

  {# Additional JS scripts #}
  {% block extrascripts %}{% endblock %}
  
{% endblock javascript %}
