{% extends "fyrpresents/base.html" %}
{% load i18n %}
{% load static %}
{% load comments %}
{% load random_color %}
{% load vote_idea %}
{% block title %}{{ eventideas.title }} - {% trans "Event Idea Details" %}{% endblock title %}
{% block description %}{% trans "Here shows our brainstorming and planning for our hopeful travels" %}{% endblock %}

{% block bannerdetails %}
	<h2>{{event.title}}</h2>
    <p>{{event.start_date|date}}</p>
{% endblock %}

{% block breadcrumbs %}
<ul class="breadcrumbs">
    <li><a href="{% url 'home' %}">Home</a></li>
	<li><a href="{% url 'events' %}">Events</a></li>
	<li><a href="#">{{eventideas.title}}</a></li>
</ul>
{% endblock %}

{% block content %}
<!-- Container -->
<div id="container">
  <div id="content">
    <div class="container">
      {% with 'events/images/'|add:eventideas.slug as image_static %}
      <div class="project-page row">
        <!-- Start Single Project Slider -->
        <div class="project-media col-md-8">
          <div class="item crop">
            <a href="{% static image_static %}.jpg">
              <img alt="" src="{% static image_static %}.jpg">
            </a>
          </div>
        </div>
        <!-- End Single Project Slider -->
       <!-- Start Project Content -->
        <div class="project-content col-md-4">
          	<h4><span>Details</span></h4>
          	<ul> 
	            <li>{{ eventideas.description }}</li>
	            <li><strong>Created By:</strong> {{ eventideas.creator.first_name }}</li>
	            <li><strong>Location:</strong> {{ eventideas.location }}</li>
	            <li><strong>Estimated Cost:</strong> ${{eventideas.estimated_cost}}</li>
	            {% vote_idea eventideas as does_vote_exist %}
                {% if does_vote_exist %}
                	<input type="button" class="btn-system btn-small btn-interest" name="{{ eventideas.slug }}" value="Remove Me" />
                {% else %}
                	<input type="button" class="btn-system btn-small btn-interest" name="{{ eventideas.slug }}" value="Im Interested" />
                {% endif %}
          	</ul>
          <!--<div class="post-share">
            <span>Share This:</span>
            <a class="facebook" href="#"><i class="fa fa-facebook"></i></a>
            <a class="twitter" href="#"><i class="fa fa-twitter"></i></a>
            <a class="gplus" href="#"><i class="fa fa-google-plus"></i></a>
            <a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a>
            <a class="mail" href="#"><i class="fa fa-envelope"></i></a>
          </div>-->
        </div>
        <!-- End Project Content -->
        {% endwith %}
    </div>  

    {% if eventideas.slug == 'raver-paradise-2017' %}
      	<div class="hr5" style="margin-top:45px; margin-bottom:35px;"></div>
      	<div class="recent-projects">
	      	<h4 class="classic-title"><span>Cast Your Vote</span></h4>
	        {% if is_current_user_interested %}
	            {% for event_idea in sub_event_ideas %}
	                {% with 'events/images/raver-paradise-2017/'|add:event_idea.slug|add:'.jpg' as image_static %}
	                  	<div class="portfolio-item item col-md-4">
					        <div class="portfolio-border">
					            <div class="portfolio-thumb" style="height:300px">	
					              	<a href="#">
					                	<img src="{% static image_static %}" alt="" />
					                </a>
					            </div>
					            <div class="portfolio-details">
					                <a href="#">
					                	<h4>{{ event_idea.title }}</h4>
					                	<p>{{ event_idea.location }}</p>
					                	<p>{{ event_idea.description }}</p>
					                </a>
					            </div>
					            <div class="portfolio-details">
					            	{% vote_idea event_idea as does_vote_exist %}
					            	{% if does_vote_exist %}
					                	<input type="button" class="btn-system btn-small btn-vote" name="{{ event_idea.slug }}" value="Remove My Vote" />
					                {% else %}
					                	<input type="button" class="btn-system btn-small btn-vote" name="{{ event_idea.slug }}" value="Vote For This" />
					                {% endif %}
					            	<a href="#" class="like-link"><i class="fa fa-user-secret fa-2"></i><span>{{event_idea.votes.count}}</span></a>
					            </div>
					        </div>
					    </div>
	                {% endwith %}
	            {% endfor %}
	        {% else %}
          		<p>Gotta sign up if you want to help pick which destination we should visit.</p>
        	{% endif %} 
        </div>
    {% endif %}

    <div class="hr5" style="margin-top:45px; margin-bottom:35px;"></div>

    <!-- Start Recent Projects Carousel -->
    <h4 class="classic-title"><span>Interested People</span></h4>
    <!-- Start Team Members -->
    <div class="row">
      <!-- Start Member 1 -->
      {% for user in interested_users %}
      <div class="col-md-2 col-sm-6 col-xs-3">
        <!--<div class="team-member"> -->
          <!-- Member Photo, Name & Position -->
          <!-- <div class="member-photo"> -->
            <img src="{{ user.profile.profile_image_url }}" alt="User Profile Picture"/>
            <!--<div class="member-name">{{guest.user.first_name}} {{guest.user.last_name}}</div>-->
          <!-- Memebr Words -->
          <!-- <div class="member-info">
            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore fugiat.</p>
          </div> -->
          <!-- Memebr Social Links -->
          <!--<div class="member-socail">
            <a class="twitter" href="#"><i class="fa fa-twitter"></i></a>
            <a class="gplus" href="#"><i class="fa fa-google-plus"></i></a>
            <a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a>
            <a class="flickr" href="#"><i class="fa fa-flickr"></i></a>
            <a class="mail" href="#"><i class="fa fa-envelope"></i></a>
          </div> -->
        <!--</div> -->
      </div>
      {% endfor %}
      <!-- End Member 1 -->
    </div>

    <div class="hr5" style="margin-top:45px; margin-bottom:35px;"></div>

    <div id="comments">
      {% get_comment_count for eventideas as comment_count %}
      {% if comment_count %}
        <H5 class="text-center">
          {% blocktrans count comment_count=comment_count %}
          There is {{ comment_count }} comment below.
          {% plural %}
          There are {{ comment_count }} comments below.
          {% endblocktrans %}
        </H5>
      <hr/>
    {% endif %}

    {% if eventideas.allow_comments %}
      <div class="comment">
        <h4 class="text-center">Let us know what you are thinking</h4>
        <div class="well">
          {% render_comment_form for eventideas %}
        </div>
      </div>
    {% else %}
    <h5 class="text-center">comments are disabled for this article</h5>
    {% endif %}

    {% if comment_count %}
    <hr/>
    <div id="comment-list">
      {% render_comment_list for eventideas %}
    </div>
    {% endif %}
  </div>
  </div>
</div>

{% endblock %}  
  
{% block javascript %}
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.9&appId=119227861825480";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<script>
  $('.btn-interest').click(function(){
      var $this = $(this);
      $.ajax({
               type: "POST",
               url: "{% url 'interested' %}",
               data: {'slug': $(this).attr('name'), 'csrfmiddlewaretoken': '{{ csrf_token }}'},
               dataType: "json",
               success: function(response) {
                  $this.attr('value', $this.attr('value') == 'Im Interested' ? 'Remove Me' : 'Im Interested');
                  alert(response.message);
                },
                error: function(rs, e) {
                  alert(rs.responseText);
                }
          }); 
    })
</script>
<script>
  $('.btn-vote').click(function(){
      var $this = $(this);
      $.ajax({
               type: "POST",
               url: "{% url 'interested' %}",
               data: {'slug': $(this).attr('name'), 'csrfmiddlewaretoken': '{{ csrf_token }}'},
               dataType: "json",
               success: function(response) {
                  $this.attr('value', $this.attr('value') == 'Vote For This' ? 'Remove My Vote' : 'Vote For This');
                  alert(response.message);
                },
                error: function(rs, e) {
                  alert(rs.responseText);
                }
          }); 
    })
</script>
{% endblock %}