{% extends 'fyrpresents/base.html' %}
{% load i18n %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block title %}{% trans "Submit an Old Event" %}{% endblock title %}
{% block description %}{% trans "Form for submissions of events that FYR attended." %}{% endblock %}

{% block bannerdetails %}
	<h2>Submit Something We Did</h2>
    <p>Blast From The Past.</p>
{% endblock %}

{% block breadcrumbs %}
<ul class="breadcrumbs">
    <li><a href="{% url 'home' %}">Home</a></li>
    <li><a href="{% url 'events' %}">Events</a></li>
    <li><a href="#">Submit Past Event</a></li>
</ul>
{% endblock %}

{% block content %}
<!-- Start Content -->
<div id="content">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <!-- Classic Heading -->
        <h4 class="classic-title"><span>I'm tired. Just let me hear it already</span></h4>
        
        <!-- Start Edit Profile Form -->
        {% crispy form %}
        {{ status }}
        <!-- End Edit Profile Form -->
      </div>
    </div>
  </div>
</div>
{% endblock %}