{% extends "fyrpresents/base.html" %}

{% block bannerdetails %}
	<h2>Accounts</h2>
    <p>Take care of your accounts</p>
{% endblock %}

{% block breadcrumbs %}
<ul class="breadcrumbs">
	<li><a href="{% url 'home' %}">Home</a></li>
    <li><a href="/accounts">Accounts</a></li>
</ul>
{% endblock %}

{% block content %}
	{% if messages %}
	<div>
	  <strong>Messages:</strong>
	  <ul>
	    {% for message in messages %}
	    	<li>{{message}}</li>
	    {% endfor %}
	  </ul>
	</div>
	{% endif %}
	<div id="content">
  <div class="container">
    <div class="row">
	{% block subcontent %}
	{% endblock %}
    </div>
  </div>
</div>
{% endblock %}
{% block extra_body %}
{% endblock %}

