{% extends "fyrpresents/base.html" %}   
{% load i18n %}
{% block title %}{% trans "Newsletter detail" %}{% endblock title %}

{% block content %}

<!-- Start Page Banner -->
<div class="page-banner">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>Newsletter</h2>
        <p>Monthly Updates from FYR</p>
      </div>
      <div class="col-md-6">
        <ul class="breadcrumbs">
          <li><a href="{% url 'home' %}">Home</a></li>
          <li><a href="#">Monthly Newsletter</a></li>
        </ul>
      </div>
    </div>
  </div>
  </div>
<!-- End Page Banner -->

<div id="content">
  <div class="container">
    {% block subcontent %}
    {% endblock subcontent %}
   </div>
 </div>
{% endblock content %}