{% extends "checkout/checkout.html" %}
{% load url from future %}
{% load currency_filters %}
{% load i18n %}

{% block title %}
    {% trans "Payment details" %} | {{ block.super }}
{% endblock %}

{% block checkout_nav %}
    {% include 'checkout/nav.html' with step=3 %}
{% endblock %}

{% block checkout_title %}{% trans "Enter payment details" %}{% endblock %}

{% block order_contents %}{% endblock %}
{% block shipping_address %}{% endblock %}
{% block shipping_method %}{% endblock %}
{% block payment_method %}{% endblock %}

{% block payment_details %}
    {% block payment_details_content %}
        {% if not allocation_form %}
            {# 1. Initial load of page - show form to look up account if they are not blocked #}
            {% if is_blocked %}
                <p>{% trans "You are blocked." %}</p>
            {% else %}
                {% if user_accounts %}
                    <h3>{% trans "Choose a user account" %}</h3>
                    <form action="." method="post">
                        {% csrf_token %}
                        <table class="table">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>{% trans "Account" %}</th>
                                    <th>{% trans "Balance" %}</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for account in user_accounts %}
                                <tr>
                                    <td><input type="radio" name="code" value="{{ account.code }}"></td>
                                    <td>{{ account.name }}</td>
                                    <td>{{ account.balance|currency }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <button type="submit" class="btn btn-primary" name="action" value="select_account">{% trans 'Select account' %}</button>
                    </form>
                {% endif %}

                <h3>{% trans "Try to Look up an account" %}</h3>
                <form action="." method="post">
                    {% csrf_token %}
                    <input type="hidden" name="action" value="select_account" />
                    {% include 'partials/form_fields.html' with form=account_form %}
                    <button type="submit" class="btn btn-primary">{% trans "Check balance" %}</button>
                </form>
            {% endif %}
        {% else %}
            {# 2. An account has been found - choose allocation #}
            {% with account=allocation_form.account %}
            <h3>{% trans "Account" %}</h3>
            <table class="table">
                <tr>
                    <th>{% trans "Name" %}</th>
                    <td>{{ account.name }}</td>
                </tr>
                {% if account.description %}
                <tr>
                    <th>{% trans "Description" %}</th>
                    <td>{{ account.description }}</td>
                </tr>
                {% endif %}
                {% if account.end_date %}
                <tr>
                    <th>{% trans "Expiry date" %}</th>
                    <td>{{ account.end_date }}</td>
                </tr>
                {% endif %}
                <tr>
                    <th>{% trans "Balance" %}</th>
                    <td>{{ account.balance|currency }}</td>
                </tr>
            </table>
            {% endwith %}
            <h3>{% trans "Choose allocation" %}</h3>
            <p>{% trans "The order total is" %} {{ order_total_incl_tax|currency }}.</p>
            <p>{% trans "The maximum allocation from this account is" %} {{ allocation_form.max_allocation|currency }}.</p>
            <form action="." method="post">
                {% csrf_token %}
                {# Include account form hidden #}
                <div style="display:none">
                    {{ account_form.as_p }}
                </div>
                <input type="hidden" name="action" value="allocate" />
                {% include 'partials/form_fields.html' with form=allocation_form %}
                <button type="submit" class="btn btn-primary btn-large">{% trans "Allocate" %}</button>{% trans "or" %}
                <a href="{% url 'checkout:payment-details' %}">{% trans "cancel" %}</a>.
            </form>
        {% endif %}

        {% if account_allocations %}
            <h3>{% trans "Allocations" %}</h2>
            <form action="." method="post">
                {% csrf_token %}
                <input type="hidden" name="action" value="remove_allocation" />
                <table id="" class="table">
                    <thead>
                        <tr>
                            <th>{% trans "Account code" %}</th>
                            <th>{% trans "Allocation" %}</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for code, amount in account_allocations.items %}
                            <tr>
                                <td>{{ code }}</td>
                                <td>{{ amount|currency }}</td>
                                <td>
                                    <button type="submit" class="btn" name="remove_{{ code }}">{% trans "Remove" %}</button>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </form>
        {% endif %}
        <!--<p>{% trans "This page needs implementing within your project.  You may want to use one of Oscar's payment gateway libraries:" %}</p>
        <ul>
            <li><a href="https://github.com/django-oscar/django-oscar-paypal">django-oscar-paypal</a></li>
            <li><a href="https://github.com/django-oscar/django-oscar-datacash">django-oscar-datacash</a></li>
            <li><a href="https://github.com/django-oscar/django-oscar-gocardless">django-oscar-gocardless</a></li>
            <li><a href="https://github.com/django-oscar/django-oscar-paymentexpress">django-oscar-paymentexpress</a></li>
            <li><a href="https://github.com/django-oscar/django-oscar-accounts">django-oscar-accounts</a></li>
        </ul>
        <a id="view_preview" href="{% url 'checkout:preview' %}" class="btn btn-primary btn-lg">{% trans "Continue" %}</a>-->
    {% endblock payment_details_content %}
{% endblock payment_details %}
