{% extends "fyrpresents/base.html" %}   
{% load i18n %}
{% block title %}{% trans "Newsletter detail" %}{% endblock title %}

{% block bannerdetails %}
	<h2>Newsletter</h2>
	<p>Random Updates from FYR</p>
{% endblock %}

{% block breadcrumbs %}
<ul class="breadcrumbs">
	<li><a href="{% url 'home' %}">Home</a></li>
	<li><a href="#">Newsletter</a></li>
</ul>
{% endblock %}

{% block content %}

<div id="content">
  <div class="container">
    {% block subcontent %}
    {% endblock subcontent %}
   </div>
 </div>
{% endblock content %}